ion-content {
	--background: var(--primary) !important;
}

.logo-box {
	width: 140px;
	margin: 0 auto;
	margin-top: 80px;

	img {
		width: 115px;
		text-align: center;
	}
}

ion-title {
	text-align: center;
}


.form {
	margin-top: 50px;

	ion-list {
		ion-item {
			padding: 10px 0;
			border-radius: 5px;
			margin-bottom: 10px;

			h2 {
				margin: 0;
				min-width: 55px;
				font-size: 1rem;
				font-weight: 500;
				color: var(--white);
			}

			ion-input {
				font-size: 1rem !important;
			}
		}
	}

	.button.btn {
		width: calc(100% - 80px);
		margin: 0 auto !important;
		padding: 5px 0;
		--background: var(--white) !important;
		color: var(--primary) !important;
		display: block;
		font-weight: 500 !important;
	}
}