<ion-header>
	<ion-toolbar>
		<ion-title>
			<h2>
				<span>S'enregistrer</span>
			</h2>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">

	<div class="form">
		<ion-list lines="none">
			<!--
			<ion-item class="profile">
				<div class="profile_img_box animated zoomIn delay_1">
					<div class="profile_img">
						<img src="assets/imgs/profile_placeholder.png">
					</div>
					<ion-icon class="ion-text-center zmdi zmdi-camera"></ion-icon>
				</div>
				
			</ion-item>
			

			<ion-item lines="none" class="status">
				<ion-input type="text" class="ion-text-center" placeholder="{{'add_your_name' | translate}}"></ion-input>
			</ion-item>

			<ion-item lines="none" class="status">
				<ion-input type="text" class="ion-text-center" placeholder="{{'add_your_status' | translate}}"></ion-input>
			</ion-item>
			-->

			<h2>Info Profile</h2>

			<ion-item lines="none" class="animated slideInRight delay_1">
				<ion-label position="stacked">Nom</ion-label>
				<ion-input type="text" [(ngModel)]="name" placeholder="Nom"></ion-input> 
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Prénom</ion-label>
				<ion-input type="text" [(ngModel)]="firstname" placeholder="Prénom"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Adresse email</ion-label>
				<ion-input type="email" [(ngModel)]="mail" placeholder="Adresse email"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Téléphone</ion-label>
				<ion-input type="tel" [(ngModel)]="phone" placeholder="Téléphone"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Mot de passe</ion-label>
				<ion-input type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Confirmer le mot de passe</ion-label>
				<ion-input type="password" [(ngModel)]="confirmpassword" placeholder="Confirmer le mot de passe"></ion-input>
			</ion-item>

			<ion-button slot="end" size="large" shape="round" class="btn" (click)="register()">S'enregistrer</ion-button>


		</ion-list>
	</div>

</ion-content>