<ion-header>
	<ion-toolbar>
		<ion-title>
			<h2>
				<span>Register</span>
			</h2>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">

	<div class="form">
		<ion-list lines="none">
			<!--
			<ion-item class="profile">
				<div class="profile_img_box animated zoomIn delay_1">
					<div class="profile_img">
						<img src="assets/imgs/profile_placeholder.png">
					</div>
					<ion-icon class="ion-text-center zmdi zmdi-camera"></ion-icon>
				</div>
				
			</ion-item>
			

			<ion-item lines="none" class="status">
				<ion-input type="text" class="ion-text-center" placeholder="{{'add_your_name' | translate}}"></ion-input>
			</ion-item>

			<ion-item lines="none" class="status">
				<ion-input type="text" class="ion-text-center" placeholder="{{'add_your_status' | translate}}"></ion-input>
			</ion-item>
			-->

			<h2>{{'profile_info' | translate}}</h2>

			<ion-item lines="none" class="animated slideInRight delay_1">
				<ion-label position="stacked">{{'name' | translate}}</ion-label>
				<ion-input type="text" [(ngModel)]="name" placeholder="{{'name' | translate}}"></ion-input> 
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">{{'firstname' | translate}}</ion-label>
				<ion-input type="text" [(ngModel)]="firstname" placeholder="{{'firstname' | translate}}"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">{{'email_address' | translate}}</ion-label>
				<ion-input type="email" [(ngModel)]="mail" placeholder="{{'email_address' | translate}}"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">{{'phone_number' | translate}}</ion-label>
				<ion-input type="tel" [(ngModel)]="phone" placeholder="{{'phone_number' | translate}}"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">{{'password' | translate}}</ion-label>
				<ion-input type="password" [(ngModel)]="password" placeholder="{{'password' | translate}}"></ion-input>
			</ion-item>

			<ion-button slot="end" size="large" shape="round" class="btn" (click)="register()">{{'Register' | translate}}</ion-button>


		</ion-list>
	</div>

</ion-content>