<ion-header>
	<ion-toolbar>
		<ion-title>
			<h2>
				<span style="font-size: 20px;">Modifier le mot de passe</span>
			</h2>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="bg_color">

	<div class="form">
		<ion-list lines="none">
			<h2>Entrer l'ancien et le nouveau mot de passe</h2>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Mot de passe actuel</ion-label>
				<ion-input type="password" [(ngModel)]="currentPassword" placeholder="Requis"></ion-input>
			</ion-item>

			<ion-item lines="none" class="animated slideInRight delay_2">
				<ion-label position="stacked">Nouveau mot de passe</ion-label>
				<ion-input type="password" [(ngModel)]="newPassword" placeholder="Requis"></ion-input>
			</ion-item>

			<ion-button slot="end" size="large" shape="round" class="btn" (click)="updatePassword()">Mettre à jour</ion-button>


		</ion-list>
	</div>

</ion-content>